<div class="new-task-wrapper">
  <div class="new-task-card">
    <h1 class="title has-text-warning">🗓️ Create a New Task</h1>

    <input
      #taskTitleInput
      class="input is-medium task-input"
      type="text"
      placeholder="Enter task name…"
    />

    <label class="label mt-4 has-text-weight-semibold">Priority</label>
    <div class="select is-medium is-fullwidth">
      <select #taskPriorityInput>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        <option value="urgent">Urgent</option>
      </select>
    </div>

    <label class="label mt-4 has-text-weight-semibold">Due Date</label>
    <input #taskDueDateInput class="input is-medium task-input" type="date" />

    <div class="button-row">
      <button class="button is-light cancel-btn" (click)="cancel()">
        Cancel
      </button>

      <button
        class="button is-link create-btn"
        (click)="
          createTask(
            taskTitleInput.value,
            taskPriorityInput.value,
            taskDueDateInput.value
          )
        "
      >
        Create
      </button>
    </div>
  </div>
</div>
